@use '../../globalsass.scss' as *;

.container {
    margin: 50px;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h3 {
        @include subHeading(black);
    }

    h1 {
        @include mainHeading(black);
        font-size: 45px;
        span{
            @include font-momosignature;
        }
    }

    .options {
        width: 100%;
        display: flex;
        flex-wrap: wrap-reverse; 
        justify-content: space-around;

        span {
            padding: 5px;
            @include font-nunito;
            font-weight: 600;
            font-size: 18px;
            cursor:default;
            &.active {
                background-color: rgba(0, 0, 0, 0.26);
                border-radius: 15px;
                padding: 5px 15px;
            }
        }
    }
    .products{
        display: grid;
        grid-template-columns: repeat(4,auto);
        gap: 2rem;
    }
}