@import '../../globalsass.scss';

*{
    margin: 0;
    padding: 0;
}
.Navbar{
    height: 50px;
    // box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.631);
    border-bottom: 1px solid rgba(0, 0, 0, 0.51);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
    .navlinks{
        display: flex;
        gap: 1.5rem;
        span{
            display: flex;
            align-items: center;
            gap: 0.5rem;
            font-size: 18px;
            // @include font-nunito;
            @include font-nunito(500);
        }
    }
    .auth{
        display: flex;
        align-items: center;
        gap: 2rem;
        p{
            display: flex;
            align-items: center;
            gap: 0.3rem;
            font-size: 18px;
            @include font-poppins;
        }
    }
}